@import "tailwindcss";

@import './header.css';
@import './footer.css';
@import './proposals-list.css';

:root {
  --spacing: 8px;
  --text-xl: 32px;
}

h1 {
  @apply text-xl font-bold;
}

h2 {
  @apply text-lg font-extrabold;
}

html, body {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;

  @apply bg-white text-gray-900;
}

.website {
  @apply flex flex-col min-h-screen;
}

.main {
  @apply flex-grow;

  .main-view {
    @apply max-w-6xl mx-auto;
  }
}

.block {
  @apply py-8;
}
