@layer components {
  .header {
    @apply bg-(--header-bg-color) py-4;

    .inner {
      @apply max-w-(--website-width) mx-auto;
      @apply flex items-center justify-between;
    }

    .header-item {
      @apply flex-1;
    }

    .logo {
      @apply text-2xl text-(--main-text-color);
    }

    .nav-menu {
      @apply text-center space-x-4;

      .nav-menu__item {
        @apply text-center text-xl text-(--gray-text-color);

        &.active {
          @apply text-(--main-text-color);
        }
      }
    }

    .nav-actions {
      @apply flex justify-end space-x-4;

      .language-switcher {
        @apply bg-black text-white py-1 px-2 rounded-full;
      }
    }
  }
}
