@import "tailwindcss";

@import './header.css';
@import './footer.css';
@import './proposals-list.css';

:root {
  --spacing: 8px;
  --tw-space-x-reverse: 8px;

  --website-width: 1136px;

  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
}

@theme {
  --color-white: #FFFFFF;
  --color-orange: #FF5E00;
  --color-black-orange: #F45900;
  --color-black: #000000;
  --color-gray: #868686;
  --color-light-gray: #F5F5F5;
  --color-red: #FD6E6E;
  --color-light-red: #FFF9F9;
  --color-light-black: #292929;
  --color-orange-disabled: #59F45900;

  --color-bg-grey: #FCFCFC;

  --text-button-1: 22px;
  --text-button-1--line-height: 130%;
  --text-button-1--font-weight: 800; /* extrabold */

  --text-button-3: 18px;
  --text-button-3--line-height: 140%;
  --text-button-3--font-weight: 400; /* regulat */

  --text-button-22: 22px;
  --text-button-22--line-height: 130%;
  --text-button-22--font-weight: 400; /* regulat */

  --text-button-3-fat: 18px;
  --text-button-3-fat--line-height: 130%;
  --text-button-3-fat--font-weight: 800; /* extrabold */

  --text-h1: 32px;
  --text-h1--line-height: 130%;
  --text-h1--font-weight: 800; /* extrabold */

  --text-h2: 24px;
  --text-h2--line-height: 150%;
  --text-h2--font-weight: 800; /* extrabold */

  --text-h3: 22px;
  --text-h3--line-height: 150%;
  --text-h3--font-weight: 800; /* extrabold */

  --text-1: 22px;
  --text-1--line-height: 130%;
  --text-1--font-weight: 400; /* regulat */

  --text-2: 22px;
  --text-2--line-height: 130%;
  --text-2--font-weight: 400; /* regulat */

  --text-3: 18px;
  --text-3--line-height: 130%;
  --text-3--font-weight: 400; /* regulat */
}

.website {
  @apply flex flex-col min-h-screen;

  .main {
    @apply max-w-(--website-width) mx-auto flex-grow size-full;
  }
}

@layer components {
  .button {
    &.default {
      --button-border-raduis: 32px;
      @apply p-2 cursor-pointer text-button-1 bg-black text-white rounded-(--button-border-raduis);

      &:hover {
        @apply bg-light-black;
      }
    }

    &.language {
      --button-border-raduis: 32px;
      @apply py-1 px-2 cursor-pointer text-button-3 bg-white text-black rounded-(--button-border-raduis) border-1 border-black;
    }

    &.max {
      --button-border-raduis: 24px;
      @apply p-1 cursor-pointer text-button-3 bg-white text-black rounded-(--button-border-raduis) border-1 border-black;

      &.disabled {
        @apply text-gray bg-bg-grey border-gray cursor-not-allowed border-1;
      }

      &:active {
        @apply text-button-3-fat;
      }
    }

    &.primary {
      --button-border-raduis: 32px;
      @apply py-1 px-2 cursor-pointer text-button-1 bg-orange text-white rounded-(--button-border-raduis) border-none;

      &:hover {
        @apply bg-black-orange;
      }

      &.disable {
        @apply bg-orange-disabled cursor-not-allowed;
      }
    }

    &.link {
      @apply cursor-pointer text-button-22;

      &.disabled {
        @apply text-gray cursor-not-allowed;
      }
    }
  }

  .input {
    &.default {
      --button-border-raduis: 32px;
      @apply p-2 text-button-3 bg-white text-black rounded-(--button-border-raduis) border-1 border-black;
    }
  }

  h1 {
    @apply text-h1;
  }

  h2 {
    @apply text-h2;
  }

  .block {
    @apply py-5;

    * {
      @apply my-1;
    }
  }

  .box {
    --table-border-radius: 32px;

    @apply p-2 bg-bg-grey rounded-(--table-border-radius);
  }

  table.table {
    --table-border-radius: 32px;

    @apply size-full;

    thead {
      @apply bg-black text-white text-h3;

      th {
        @apply p-1 text-center;

        &:first-child {
          @apply rounded-l-(--table-border-radius);
        }

        &:last-child {
          @apply rounded-r-(--table-border-radius);
        }
      }
    }

    tbody {
      @apply bg-bg-grey text-black text-button-3;

      tr {
        &:not(&:last-child) {
          @apply border-b-1 border-b-light-gray;
        }

        &:hover {
          @apply bg-light-gray;
        }

        td {
          @apply p-1 text-center;

          &:first-child {
            @apply mt-1;
          }
        }

        &:first-child {
          td:first-child {
            @apply rounded-tl-(--table-border-radius);
          }

          td:last-child {
            @apply rounded-tr-(--table-border-radius);
          }
        }

        &:last-child {
          td:first-child {
            @apply rounded-bl-(--table-border-radius);
          }

          td:last-child {
            @apply rounded-br-(--table-border-radius);
          }
        }
      }
      }
  }
}
